.mainWidget {
    background-color: #202020;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.mainWidget > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainWidget > .top > .top__wrapper > .topItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}
.mainWidget > .top > .top__wrapper > .topItem:first-child {
    margin-top: 0;
}
.mainWidget > .top > .top__wrapper > .topItem > p {
    margin-left: 5px;
}

.mainWidget > .mainWidget__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.mainWidget > .top > .right > .right__wrapper {
    display: flex;
    justify-items: flex-start;
}
.mainWidget > .top > .right > .right__wrapper > h1 {
    font-weight: normal;
    font-size: 50px;
}
.mainWidget > .top > .right > .right__wrapper > span {
    font-size: 10px;
    font-weight: lighter;
}

.mainWidget > .mainWidget__main > .right > .item {
    margin-top: 5px;
    color: gray;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
.mainWidget > .mainWidget__main > .right > .item > h4 {
    display: flex;
    align-items: flex-start;
    margin-left: 5px;
}
.mainWidget > .mainWidget__main > .right > .item > span {
    font-weight: lighter;
    width: 25px;
}


/* animations for weather icon */
#icon {
    animation: rotation 7s infinite linear;
}
#swing{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}
@keyframes rotation {
    from { transform: rotate(0deg) }
    to { transform: rotate(359deg) }
}
@keyframes swinging{
    0% { transform: rotate(10deg) }
    50% { transform: rotate(-5deg) }
    100% { transform: rotate(10deg) }
}